<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="GetCallRailData.Properties.Settings.BaanConnectionString"
      connectionString="Data Source=sql6;Initial Catalog=baandb;Integrated Security=True"
      providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <log4net>
    <root>
      <appender-ref ref="DebugTraceAppender" xdt:Transform="Remove" xdt:Locator="Match(ref)"/>
    </root>
  </log4net>
</configuration>