<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <root>
      <appender-ref ref="ColoredConsoleAppender" xdt:Locator="Match(ref)" xdt:Transform="Remove" />
      <appender-ref ref="DebugTraceAppender" xdt:Locator="Match(ref)" xdt:Transform="Remove"/>
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Temp\QuickWinsSpOutlookAddIn\Logs\Log_%date{dd-MM-yyyy_HH-mm-ss}.txt" xdt:Transform="Replace" />     
    </appender>
  </log4net>
</configuration>